/3D\ Models/*.FCBak
/3D\ Models/*.3mf
/3D\ Models/*.bgcode
/Documentation/Indoor_Schematic/Indoor_Schematic-backups/
/Documentation/Indoor_Schematic/*.lck
/Documentation/Indoor_Schematic/#auto_saved_files#
